@import url(fontawesome.min.css);
html, body {
  background: #ffffff; }

body {
  font-family: 'Poppins', sans-serif; }

.header {
  background: #F9F1E6;
  padding-top: 30px; }
  .header__images {
    position: relative;
    user-select: none;
    height: 100%; }
    .header__images img {
      position: absolute; }
    .header__images-instagram {
      z-index: 1;
      bottom: 0; }
    .header__images-effects {
      z-index: 0;
      left: -132px;
      top: 30px; }
  .header__content-title {
    line-height: 40px;
    font-size: 30px;
    font-weight: 600;
    color: #37393E;
    margin-bottom: 16px; }
  .header__content-desc {
    font-size: 14px;
    color: #37393E;
    line-height: 20px;
    margin-bottom: 22px; }
  .header__content-footer {
    margin-bottom: 64px;
    margin-top: 22px;
    display: flex;
    align-content: center; }
  .header__content-button {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6A6ABB;
    color: #fff;
    height: 76px;
    padding: 0 28px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: .6px;
    transition: all .4s;
    outline: none !important; }
    .header__content-button i {
      font-size: 22px; }
    .header__content-button\:purple {
      background: #6A6ABB; }
    .header__content-button\:danger {
      background: #fa4b4b !important; }
    .header__content-button\:warning {
      background: #ffc008 !important; }
    .header__content-button\:success {
      background: #23c576 !important; }
  .header__content-recaptcha div {
    margin-right: 30px; }
  .header__content-recaptcha iframe {
    height: 100% !important; }
  .header__content form label {
    display: block;
    margin: 0; }
  .header__content form textarea {
    color: #37393E;
    width: 100%;
    padding: 14px;
    border: 2px solid #E6DBCC;
    border-radius: 4px;
    resize: none;
    outline: none;
    display: block; }
    .header__content form textarea::placeholder {
      color: #93959A; }

.menu {
  padding-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .menu__logo {
    font-size: 28px;
    font-weight: 300; }
    .menu__logo b, .menu__logo strong {
      font-weight: bold; }
    .menu__logo span {
      height: 8px;
      width: 8px;
      background: #DD8285;
      display: inline-block;
      border-radius: 50%; }
  .menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .menu ul li {
      float: left;
      margin-left: 30px; }
      .menu ul li.active a {
        background: linear-gradient(to top, rgba(221, 130, 133, 0.7) 40%, transparent 0%); }
      .menu ul li a {
        text-decoration: none;
        outline: none;
        color: #25272b;
        font-size: 14px;
        transition: all .4s; }
        .menu ul li a:hover {
          color: #000; }

.content {
  min-height: 250px;
  transition: all .4s; }
  .content__list {
    margin: 40px 0; }
    .content__list-title {
      color: #37393E;
      font-size: 24px;
      font-weight: 600;
      border-bottom: 1px solid #E6DBCC;
      padding-bottom: 14px;
      margin-bottom: 24px; }
    .content__list-item {
      display: flex;
      align-items: center;
      margin-bottom: 30px; }
      .content__list-item\:main {
        background: #F8F8F8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 80px;
        flex: 1;
        font-size: 18px;
        font-weight: 600;
        color: #37393E; }
        .content__list-item\:main a {
          color: #37393E;
          text-decoration: none;
          outline: none; }
        .content__list-item\:main i {
          margin-right: 18px; }
        .content__list-item\:main:last-child {
          margin-bottom: 0; }
      .content__list-item\:status {
        border-radius: 4px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        flex: 0 0 130px;
        color: #43475B;
        font-size: 36px;
        margin-left: 30px;
        background: #F8F8F8;
        transition: all .4s; }
        .content__list-item\:status.check {
          background: #25CE7B;
          color: #fff; }
        .content__list-item\:status.times {
          background: #FA5555;
          color: #fff; }
        .content__list-item\:status.exclamation {
          background: #FFC312;
          color: #fff; }
      .content__list-item\:copy {
        border-radius: 4px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        flex: 0 0 130px;
        font-size: 36px;
        margin-left: 30px;
        background: #F8F8F8;
        cursor: pointer;
        color: #43475B; }
  .content__wait {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s; }
    .content__wait i {
      font-size: 200px;
      color: #F8F8F8;
      margin-bottom: 40px; }

.footer {
  height: 70px;
  background: #F9F1E6; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #37393E;
    height: 100%; }
  .footer__copy {
    font-size: 18px; }
  .footer a {
    font-weight: 600;
    color: #37393E;
    outline: none !important; }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .loader svg path {
    color: #777777 !important;
    fill: currentColor !important; }

@media (min-width: 1680px) {
  .container {
    max-width: 1580px; } }
.fade-enter-active, .fade-leave-active {
  transition: all .4s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
