@import "fontawesome.min.css";
$color-red: #DD8285;

html, body {
  background: #ffffff;
}
body {
  font-family: 'Poppins', sans-serif;
}
.main {

}
.header {
  background: #F9F1E6;
  padding-top: 30px;

  &__images {
    position: relative;
    user-select: none;
    height: 100%;

    img {
      position: absolute;
    }
    &-instagram {
      z-index: 1;
      bottom: 0;
    }
    &-effects {
      z-index: 0;
      left: -132px;
      top: 10px;
    }
  }
  &__content {
    &-title {
      line-height: 40px;
      font-size: 30px;
      font-weight: 600;
      color: #37393E;
      margin-bottom: 16px;
    }
    &-desc {
      font-size: 14px;
      color: #37393E;
      line-height: 20px;
      margin-bottom: 40px;
    }
    &-footer {
      margin-bottom: 64px;
      margin-top: 22px;
      display: flex;
      align-content: center;
    }
    &-button {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #6A6ABB;
      color: #fff;
      height: 74px;
      padding: 0 28px;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      letter-spacing: .6px;
      transition: all .4s;
      outline: none !important;

      &:hover {
        background: darken(#6A6ABB, 2%);
      }
      &:focus {
        background: darken(#6A6ABB, 4%);
      }
      i {
        font-size: 22px;
      }
    }
    form {
      textarea {
        color: #37393E;
        width: 100%;
        padding: 14px;
        border: 2px solid #E6DBCC;
        border-radius: 4px;
        resize: vertical;
        outline: none;
        
        &::placeholder {
          color: #93959A;
        }
      }
    }
  }
}
.menu {
  padding-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-size: 28px;
    font-weight: 300;

    b, strong {
      font-weight: bold;
    }
    span {
      height: 8px;
      width: 8px;
      background: $color-red;
      display: inline-block;
      border-radius: 50%;
    }
  }
  ul {
    list-style: none;

    li {
      float: left;
      margin-left: 30px;

      &.active a {
        background: linear-gradient(to top, rgba($color-red, .7) 40%, transparent 0%);
      }
      a {
        text-decoration: none;
        outline: none;
        color: #25272b;
        font-size: 14px;
        transition: all .4s;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
.content {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  i {
    font-size: 200px;
    color: #F8F8F8;
    margin-bottom: 40px;
  }
}
.footer {
  height: 70px;
  background: #F9F1E6;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #37393E;
    height: 100%;
  }
  &__copy {
    font-size: 18px;
  }
  a {
    font-weight: 600;
    color: #37393E;
    outline: none !important;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  svg path {
    color: #777777 !important;
    fill: currentColor !important;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1580px;
  }
}