@import "fontawesome.min.css";
$color-red: #DD8285;
$color-success: #25CE7B;
$color-warning: #FFC312;
$color-danger: #FA5555;
$color-info: #6A6ABB;

html, body {
  background: #ffffff;
}
body {
  font-family: 'Poppins', sans-serif;
}
.main {

}
.header {
  background: #F9F1E6;
  padding-top: 30px;

  &__images {
    position: relative;
    user-select: none;
    height: 100%;

    img {
      position: absolute;
    }
    &-instagram {
      z-index: 1;
      bottom: 0;
    }
    &-effects {
      z-index: 0;
      left: -132px;
      top: 30px;
    }
  }
  &__content {
    &-title {
      line-height: 40px;
      font-size: 30px;
      font-weight: 600;
      color: #37393E;
      margin-bottom: 16px;
    }
    &-desc {
      font-size: 14px;
      color: #37393E;
      line-height: 20px;
      margin-bottom: 22px;
    }
    &-footer {
      margin-bottom: 64px;
      margin-top: 22px;
      display: flex;
      align-content: center;
    }
    &-button {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color-info;
      color: #fff;
      height: 76px;
      padding: 0 28px;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      letter-spacing: .6px;
      transition: all .4s;
      outline: none !important;
      i {
        font-size: 22px;
      }
      &\:purple {
        background: $color-info;
      }
      &\:danger {
        background: darken($color-danger, 2%) !important;
      }
      &\:warning {
        background: darken($color-warning, 2%) !important;
      }
      &\:success {
        background: darken($color-success, 2%) !important;
      }
    }
    &-recaptcha {
      div {
        margin-right: 30px;
      }
      iframe {
        height: 100% !important;
      }
    }
    form {
      label {
        display: block;
        margin: 0;
      }
      textarea {
        color: #37393E;
        width: 100%;
        padding: 14px;
        border: 2px solid #E6DBCC;
        border-radius: 4px;
        resize: none;
        outline: none;
        display: block;
        
        &::placeholder {
          color: #93959A;
        }
      }
    }
  }
}
.menu {
  padding-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-size: 28px;
    font-weight: 300;

    b, strong {
      font-weight: bold;
    }
    span {
      height: 8px;
      width: 8px;
      background: $color-red;
      display: inline-block;
      border-radius: 50%;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 30px;

      &.active a {
        background: linear-gradient(to top, rgba($color-red, .7) 40%, transparent 0%);
      }
      a {
        text-decoration: none;
        outline: none;
        color: #25272b;
        font-size: 14px;
        transition: all .4s;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
.content {
  min-height: 250px;
  transition: all .4s;

  &__list {
    margin: 40px 0;

    &-title {
      color: #37393E;
      font-size: 24px;
      font-weight: 600;
      border-bottom: 1px solid #E6DBCC;
      padding-bottom: 14px;
      margin-bottom: 24px;
    }
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      &\:main {
        background: #F8F8F8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 80px;
        flex: 1;
        font-size: 18px;
        font-weight: 600;
        color: #37393E;

        a {
          color: #37393E;
          text-decoration: none;
          outline: none;
        }
        i {
          margin-right: 18px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &\:status {
        border-radius: 4px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        flex: 0 0 130px;
        color: #43475B;
        font-size: 36px;
        margin-left: 30px;
        background: #F8F8F8;
        transition: all .4s;
        
        &.check {
          background: $color-success;
          color: #fff;
        }
        &.times {
          background: $color-danger;
          color: #fff;
        }
        &.exclamation {
          background: $color-warning;
          color: #fff;
        }
      }
      &\:copy {
        border-radius: 4px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        flex: 0 0 130px;
        font-size: 36px;
        margin-left: 30px;
        background: #F8F8F8;
        cursor: pointer;
        color: #43475B;
      }
    }
  }
  &__wait {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s;

    i {
      font-size: 200px;
      color: #F8F8F8;
      margin-bottom: 40px;
    }
  }
}
.footer {
  height: 70px;
  background: #F9F1E6;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #37393E;
    height: 100%;
  }
  &__copy {
    font-size: 18px;
  }
  a {
    font-weight: 600;
    color: #37393E;
    outline: none !important;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  svg path {
    color: #777777 !important;
    fill: currentColor !important;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1580px;
  }
}

@media (max-width: 576px) {
  .menu {
    padding-bottom: 40px;

    ul {
      display: none;
    }
  }
  .header__images {
    display: none;
  }
  .header__content-title {
    font-size: 22px;
    line-height: 32px;
  }
  .header__content-footer {
    margin-top: 20px;
    flex-direction: column;
  }
  .header__content-recaptcha > div {
    display: flex;
    width: 100% !important;
    justify-content: center;
    margin-bottom: 20px;
    & > div {
      margin-right: 0;
    }
  }
  .header__content-button {
    flex: 0 0 76px;
  }
  .content__list-item\:status {
    margin-left: 14px;
    width: 50px;
    flex: 0 0 50px;
    font-size: 24px;
  }
  .content__list-item\:copy {
    margin-left: 14px;
    width: 50px;
    flex: 0 0 50px;
    font-size: 24px;
  }
  .footer {
    height: 100%;

    &__content {
      padding: 14px 0;
      flex-direction: column;
      justify-content: unset;
      text-align: center;
    }
    &__copy {
      margin-bottom: 14px;
    }
  }
}

